
body{ width:720px; height:576px; margin:0; color:#fff; padding:0;font-size:14px; font-weight:700; font-family:Tahoma, Geneva, sans-serif;background-color:#FCFBE0;}
ul,li{ padding:0; margin:0; list-style:none;}
td{ line-height:2.8em;}
a{ color:#fff; text-decoration:none; line-height:2em;}
a:hover{ text-decoration:underline; color:#FFF;}
h3{ padding-left:20px; padding-top:10px;}
h3 a{ font-size:12px; color:#30F;}
form{ padding-left:40px; padding-top:10px;}
input[type=text],input[type=password]{width:160px; height:16px;}

#contentcent{ float:left; width:720px; background-color:#ACC5DD; height:576px;}

.active{ display:block;}
.hidden{ display:none;}

#v_main{ float:left; width:100%; height:500px;}
#v_main ul{ width:100%;float:left;}
#v_main li{ margin-left:50px;}

#banner{ width:100%; height:80px; float:left;}
#banner img{ width:48px; height:64px; float:left; margin-left:10px;}
#hint{ color:#fff; font-size:14px; font-weight:900; width:200px; margin-left:20px; margin-top:25px; float:left;}
#hint hr{ border:none; border-bottom:dotted 1px #fff; margin-top:2px; padding:0; height:1px;}
#hint span{ display:block; float:left; font-size:9px;}

#v_menu{ width:100%; float:left;}
#v_menu ul{ float:left; margin-left:15px; margin-top:20px;}
#v_menu ul li{ float:left; margin:0; padding:0; margin-left:25px;width:60px;-moz-opacity:0.6;filter:alpha(opacity=60);}
#v_menu ul li:hover{ -moz-opacity:1;filter:alpha(opacity=100); cursor:pointer;}
#v_menu ul li a{ float:left; width:60px; height:60px; text-align:center;}
#v_menu ul li a img{width:50px; border:none;}
#v_menu ul li span{ font-size:12px;color:#fff; font-weight:700;float:left; width:100%; text-align:center;}
#searchdiv{ float:right; width:400px; margin-top:30px;}
#searchdiv input{ float:left; height:20px;width:180px; font-size:16px; margin-left:10px; margin-right:10px;}
#searchdiv a{-moz-opacity:0.6;filter:alpha(opacity=60); font-size:12px;float:left;background-image:url(../images/button_03.jpg); width:128px; height:27px; text-align:center;}
#searchdiv a:hover{ text-decoration:none;-moz-opacity:1;filter:alpha(opacity=100);}
#searchdiv a span{ color: #fff; font-weight:700;}
#searchdiv img{ width:38px; height:34px; float:left; border:none;-moz-opacity:0.6;filter:alpha(opacity=60);}
#searchdiv img:hover{-moz-opacity:1;filter:alpha(opacity=100); cursor:pointer;}

.operation{-moz-opacity:0.6;filter:alpha(opacity=60); color:#fff; font-size:12px;float:left;background-image:url(../images/button_03.jpg); width:128px; height:27px; text-align:center;}
.operation:hover{text-decoration:none;-moz-opacity:1;filter:alpha(opacity=100);}

.title{ color:#fff;float:left; width:580px; line-height:2em; margin-left:40px; background-color:#666;-moz-opacity:0.5;filter:alpha(opacity=50); height:30px;position:absolute;z-index: 30; top:110px;}
.titlespan{	position:absolute;z-index:31;color:#fff; top:110px; margin-left:50px;}
.titlespan span{ font-size:12px;}
.titlespan img{ width:25p; height:25px; background:transparent;}

.line{ float:left; width:100%; padding-top:100px;}
.form{ height:200px;width:100%; float:left;}
.form table{ width:60%; margin-left:20%; float:left;}

#bar{ width:70%; font:left; text-align:center; font-size:13px; padding-left:25%;}
#bar a{ margin-left:20px;}
.choosenet{ width:80%; padding-left:18%; float:left; margin-bottom:20px;}
.choosenet input{ margin:2%;}

#ipaddress1,#ipaddress2,#ipaddress3,#ipaddress4{ width:36px; height:16px;}
#lanadd11,#lanadd12,#lanadd13,#lanadd14,
#lanadd21,#lanadd22,#lanadd23,#lanadd24,
#lanadd31,#lanadd32,#lanadd33,#lanadd34,
#lanadd41,#lanadd42,#lanadd43,#lanadd44{width:36px; height:16px;}

